# sphinx-rtd-theme v0.4.3 is not compatible with Sphinx 2.1+ yet.
Sphinx==2.0.1

# The theme
sphinx-rtd-theme==0.4.3

# Required on minimal environments
setuptools==45.1.0

# Sphinx version compatible with docutils 0.16 is unreleased at the time of writing
# See https://github.com/sphinx-doc/sphinx/commit/faedcc48ccb942b9a7b758b699b30f0d026c0771
docutils==0.15

# Sphinx's transitive dependencies listed below explicitly with their versions frozen. In order to update those on a new
# version of Sphinx:
# 1. Create a clean virtualenv, e.g.:
#    $ python3.6 -m venv my-temp-venv
# 2. Install the desired Sphinx version in that virtualenv, e.g.:
#    $ source my-temp-venv/bin/activate
#    $ pip install -U pip  # Ensure pip itself is up to date
#    $ pip install \
#      Sphinx==<version> \
#      sphinx_rtd_theme==<version> \
#      setuptools==<version> \
#      docutils==<version>
# 3. Run
#    $ pip freeze --local | grep -vE '^(pkg-resources|Sphinx|sphinx-rtd-theme|docutils)=='
#    to list all installed packages along with their versions in a requirement.txt-like format.
# 4. If any packages are added/removed, update the ./BUILD file accordingly.

alabaster==0.7.12
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
idna==2.8
imagesize==1.2.0
Jinja2==2.11.1
MarkupSafe==1.1.1
packaging==20.1
Pygments==2.5.2
pyparsing==2.4.6
pytz==2019.3
requests==2.22.0
six==1.14.0
snowballstemmer==2.0.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
urllib3==1.25.8
